.responsiveNavbar, .logo_brand_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 16px;
}

.responsiveNavbar{
    position: fixed;
    z-index: 9999;
    top:0;
    align-self: flex-start;
    height : 56px;
    width: 100%;
    background-color: var(--color-light);
    justify-content: space-between;
}

#navbar_Title,#navbar_subTitle,.nav-link,.nav-link-active{
    text-decoration: none;
    outline: none;
    font-family: var(--font-body);
}

.navbar_logo{
    height: 50px;
}

.navbar-brand{
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: max-content;
}

#navbar_Title{
    font-size: 16px;
    font-weight:bolder;
    color: var(--color-dark);
    font-family: var(--font-title);
}
#navbar_subTitle{
    font-size: 16px;
    font-weight: normal;
    padding-left: 1vw;
    color: var(--color-mid-dark);
}

.nav-link-cont {
  display: flex;
  flex-direction: row;
  column-gap: 2%;
  align-items: center; 
  height: 100%;  
}


.nav-link-active,.nav-link{
    font-size: 16px;
    color: var(--color-dark);
    background-color: #ddd;
    border: none;
    padding: 6px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 3px 2px;
    cursor: pointer;
    border-radius: 250px;
    min-width: 100px;
    font-weight: normal;
}

.nav-link-active{
    font-size: 16px;
    color: var(--color-light);
    background-color: var(--color-dark);
    font-weight: bold;
}

.nav-btn-cont {
  position: relative;
  padding: 0 20px; 
  display: flex;
  align-items: center; 
  height: 100%;
}


@media (max-width: 800px) {
    .nav-link-cont{
    visibility:hidden;
        width: 0px;
    }

    .nav-link-cont .nav-link-active,nav-link-cont .nav-link{
    min-width: 0px;
    width: 0px;
    }

    .nav-btn-cont {
    visibility:visible;
    }
}

@media (min-width: 800px) {
    .nav-btn-cont {
    visibility:hidden;
    }

    .nav-link-cont{
    visibility:visible;
    }

}