.responsiveNavbar, .logo_brand_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1vw;
}

.responsiveNavbar{
    position: sticky;
    top:0;
    height : 7.5vh;
    width: 100%;
    background-color: var(--color-light);
    justify-content: space-between;
}

#navbar_Title,#navbar_subTitle,.nav-link,.nav-link-active{
    text-decoration: none;
    outline: none;
    font-family: var(--font-body);
}

.navbar_logo{
    height: 6vh;
}

.navbar-brand{
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: max-content;
}

#navbar_Title{
    font-size: 4vh;
    font-weight:bolder;
    color: var(--color-dark);
    font-family: var(--font-title);
}
#navbar_subTitle{
    font-size: 2vh;
    font-weight: normal;
    padding-left: 1vw;
    color: var(--color-mid-dark);
}

.nav-link-cont{
    display: flex;
    flex-direction: row;
    column-gap: 2%;
}


.nav-link-active,.nav-link{
    font-size: 2vh;
    color: var(--color-dark);
    background-color: #ddd;
    border: none;
    padding: 6px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 3px 2px;
    cursor: pointer;
    border-radius: 250px;
    min-width: 100px;
    font-weight: normal;
}

.nav-link-active{
    font-size: 2vh;
    color: var(--color-light);
    background-color: var(--color-dark);
    font-weight: bold;
}
