:root {
  /* Thème par défaut*/
  --bg-primary: #a49e9e;
  --bg-navBar: #9179f3;
  --text-color-nav-link : #272d2b;
  --text-color-nav-Title : #fe540b;
  --text-color-nav-subTitle : #026343;
  --text-primary: #333333;
  --accent-color: #3498db;
}
