:root {
  /* Thème par défaut*/
  --color-light:#f9edcc;
  --color-mid-light:#f9df74;
  --color-medium:#edae49;
  --color-mid-dark:#ea2b1f;
  --color-dark:#611210;
  --color-complementary:#fadbaa;
  --font-title:Roboto; /*load in head of file*/
  --font-body:Nunito; /*load in head of file*/

}

.empty-footer{
  height:50vh;
}

html, body {
  margin: 0;
  padding: 0;
}

.page-content{
  max-width: 100%;
  padding-left: 4%;
  padding-right: 4%;

}

.text-defaut h1, .text-defaut h2, .text-defaut h3{
  top:56px;
  padding-left: 10px;
  border-radius: 150px;
  font-weight: normal;
  font-family: var(--font-title);
  font-size: medium;
  position:sticky;
  background-color: var(--color-light);
  border: 1px solid var(--color-mid-light);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05);
}

.text-defaut h2{
  background-color: white;
  position:unset;
}

.text-defaut h3{
  background-color:unset;
  position:unset;
  border-style: none;
}


.text-defaut ul{
    font-family: var(--font-body);

}
.text-defaut li{
    font-family: var(--font-body);
    margin-bottom: 15px;
}

.text-defaut p{
    font-family: var(--font-body);
}


/* Conteneur pour centrer et espacer le séparateur */
.separator-container {
    width: 100%;
    max-width: 50%; /* Tu peux ajuster la largeur maximale ici */
    margin: 7.5vh auto; /* Centre le bloc et ajoute de l'espace dessus/dessous */
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

/* La pilule fine */
.elastic-separator {
    width: 0%; /* Commence invisible (largeur à 0) */
    height: 5px; /* Épaisseur fine de la pilule */
    background: linear-gradient(90deg, var(--color-complementary), var(--color-mid-light)); /* Dégradé moderne, change les couleurs ici */
    border-radius: 9999px; /* Donne la forme de pilule parfaite */
    opacity: 0;
    
    /* Transition avec un effet "élastique" (rebond à la fin) */
    transition: width 1.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.6s ease;
}

/* Classe injectée par le JS quand on scroll dessus */
.elastic-separator.is-visible {
    width: 100%;
    opacity: 1;
}